@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital@1&display=swap');

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: yellow;
  font-size: 4em;
  padding: -1;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  padding: 0;
}

.back {
margin: auto;
padding: .5em;
background-color: purple;
width: 1000px;
text-align: center;
}

body {
  background-color: #65f78a;
}
#home-to-about {
  border-radius: 100%;
  font-family: 'Lobster', cursive;
  background-color: #5badf5;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 350px;
  right: 300px;
  left: 400px;
  display: inline-block;
  text-align: center;
  line-height: 3em;
  font-size: 2em;
  color: black;
}
#home-to-about a {
  text-decoration: none;

}
#home-to-about a:hover {
  border-radius: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: blue;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 350px;
  right: 300px;
  left: 400px;
  display: inline-block;
  text-align: center;
  line-height: 4em;
  font-size: .7em;
  color: white;

}

#title h2{
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: yellow;
}
#title2 h2{
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: yellow;
}
#title3 h2{
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: yellow;
}
p {
    font-family: 'Montserrat', sans-serif;
  margin: 2em;
  width: 400px;
  text-align: left;
  color: white;
}
td {
  margin: em;
}
#words p {
  width: 300px;
  margin: .5em;
  color: white;
}
form {
  text-align: left;
  margin: 3em;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
input {
  text-align: center;
  background-color: #5badf5;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
#image {
text-align: left;
}

.behind {
  background-color: blue;
}
.behind2 {
  background-color: #5badf5;
}
